/* Responsive section for mobile device */
@media screen and (max-width:576px) {
    .nav-container{
        flex-direction: column;
    }

    .nav-content-container{
        width: 100%;
    }

    .nav-content-container ul{
        flex-direction: column;
        
    }
    .nav-content-container li{
        padding-top: 2rem;
    }
}



/* For tablet and medium devices */
@media screen and (min-width:576px) and (max-width:992px) {
    .nav-logo-container{
        width: 100%;
        justify-content: center;
    }
    .nav-container{
        flex-direction: column;
    }

    .nav-content-container{
        width: 100%;
        
    }
}